*{
	margin: 0;
	padding: 0;
  font-family: "Open Sans", "Roboto", "Helvetica", sans-serif;
  }

body{
	background-color: #15101A;
}

.container{ 
	position: relative;	
	top: 150px;
	width: 400px;
	height: 300px;
	margin: 0 auto;
}

.calendar-gray{
	font-weight: bold;
	padding-bottom: 8px;
	padding-top: 10px;
	color: #636e72;
}

.calendar-red{
	color: #c23616;
}

.calendar{
	color: #45a49e;
	box-sizing: border-box;
	border: 3px solid #66fcf1;
	border-radius: 7%;
	position: relative;
	width: 100%;	
	background-color: #0b0c10;
}

.calendar-head{
	position: relative;
	text-align: center;
	padding-top: 14px;
	height: 50px;
}

.calendar-month{
	position: relative;
	bottom: 17px;
	display: inline-block;
	margin-right: 25px;
	font-size: 20px;
}

.calendar-year{
	position: relative;
	bottom: 13px;
	display: inline-block;
	font-size: 33px;
	margin-top: 20px;
}

.calendar-btn{
	padding-top: 14px;
	display: inline-block;
	position: absolute;
	top: 10px;
}
.calendar-btn:hover{
	cursor:pointer;
}

.left-button{	
	left: 10px;
}

.right-button{
	right: 10px;
}

.left-button img{
	width: 40px;
}

.right-button img{
	width: 40px;
}

.main-table{
	margin-top: 5px;
	width: 100%;
	text-align: center;
}

.days td{
	border-right: 1px solid #66fcf1;
	padding-bottom: 7px;
	padding-top: 7px;
}

.days td:last-child{
	border-right: none;
}

.calendar-day{
	font-weight: bold;
	padding-bottom: 8px;
	padding-top: 10px;
}

.calendar-day:hover{
	cursor:pointer;
}

.calendar-today{
	background-color: #1f1f1f;
	border-radius: 20%;
}

.day-selected{
	box-shadow: 0px 13px 19px -1px rgba(5,12,36,1);
	background: #00172d;
	border-radius: 20%;
	box-sizing: border-box;
}

.sunday-selected{
	box-shadow: 0px 13px 19px -1px rgba(5,12,36,1);
	color: #c23616;
	background: #00172d;
	border-radius: 20%;
	box-sizing: border-box;
}

.calendar-head, .days td:hover{
	cursor: default;
}

.run{
	box-sizing: border-box;
	position: absolute;
	width: 90px;
	height: 60px;
	border-radius: 15px ;
	background-color: #231f3b;
	left: 75%;
	top: 30%;
	text-align: center;
	color:#fff;
	font-weight: bold;
	line-height: 60px;
}

.run:hover{
	cursor:pointer;
	background-color: #1c192f;
}
